body {
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h1 {
	font-size: 34px;
	margin: 30px 30px 15px 20px;
}

h2 {
	font-size: 24px;
}

.pv-pagewidth {
	margin: auto;
	width: 800px;
}

.pv-content{
	position: relative;
}

.pv-hidden{
	display: none;
}
