body {
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background: url('./img/background.jpg') no-repeat;
}

h1 {
	font-size: 34px;
	margin: 30px 30px 15px 20px;
}

h2 {
	color: #c00000;
	font-size: 24px;
	background-position: right 25px;
	background-size: 100% auto;
	padding: 5px;
	float: left;
    background-repeat:no-repeat;
    margin-bottom: 15px;
}

article {
	margin: 10px;
}

p{
	clear: both;
	float: left;
}

.pv-pagewidth {
	margin: auto;
	width: 800px;
}

.pv-content{
	position: relative;
}

.pv-hidden{
	display: none;
}
