.pv-launcher .pv-button{
	background: url('/ProVictores/src/core/core-css/img/button.png') no-repeat center;
	width: 50px;
	padding: 30px 50px;
	text-align: center;
	display: inline-block;
}

.pv-launcher a{
	color: #D6230C;
	text-decoration:none;
}

.pv-launcher a:hover{
	color: #808080;
}

.pv-launcher section{
	float: left;
}

.pv-current{
	width: 800px;
	background: #ffffff;
}

.pv-previous{
	position: absolute;
	left: -400px;
	width: 800px;
	z-index: -1;
	
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;
}

.pv-forward{
	position: absolute;
	left: 800px;
	width: 800px;
	z-index: -1;
	
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;
}